
.login_form{
    padding: 4.65% 0%;
    
}

a{
    color:#000;
}

.img_login{
    border-radius: 20px;
    width:100%;
    padding: 2%;
}
input{
    color: rgb(22, 21, 21);
    background-color: transparent;
    padding: 4% 8%;
    border: none;
    width: 100%;
}
a{
    cursor: pointer;
}


.checkbox_login{
    margin-right: -15px;
    margin-top: 2px;
    height: 20px;
}
.font-icons{
    padding: 5% 4%;
}
.username {
    padding: 0% 0;
    background: #fff;
    border-radius: 5px;
    margin-top: 5%;
}
input:focus{
    border-color: rgb(189,50,82);
    outline: 0;
}
::placeholder{
    color: black;
    justify-content: center;
}
.signup_heading{
    margin-left: 50px;
}
.container{
    background: fixed;
    padding-top: 1.5%;
}
